global
    log     /dev/log    local0
    log     /dev/log    local1 notice

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 10000
    timeout server 10000 
    stats enable 
    stats uri /stats 
    stats refresh 10s

frontend balancer
    bind 0.0.0.0:80
    mode http
    default_backend api_nodes

backend api_nodes
    mode http
    balance roundrobin
    server api1 api:80
